<mat-accordion multi = 'true' *ngIf = 'contacts.length>0'>    
    <mat-expansion-panel *ngFor = 'let contact of contacts'>
        <mat-expansion-panel-header>
            {{contact.firstName}}
        </mat-expansion-panel-header>
        {{contact.secondName}}<br><br>
        {{contact.contactNo}}
        <mat-action-row>
            <button mat-button color="warn" (click) = 'onDelete(contact.id)'>Delete</button>
            <a mat-button color="primary" [routerLink] = "['/edit',contact.id]">Edit</a>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<p class = 'info-text mat-body-1' *ngIf =  'contacts.length<=0' 
           >No contacts added yet!</p>
    
<h1 class = 'box'>Please do read readme.md file</h1>



